---
interface Props {
  text: string;
  width?: string; // e.g., '100px' or '100%'
  height?: string; // e.g., '40px'
  margin?: string; // e.g., '10px'
  radius?: string; // e.g., '5px'
  bgColor?: string; // e.g., '#007bff'
  textColor?: string; // e.g., '#fff'
  border?: string; // e.g., '1px solid #007bff'
  disabled?: boolean;
  onClick?: (event: MouseEvent) => string | null | undefined; // Function to handle click
}

const {
  text,
  width = 'auto',
  height = 'auto',
  margin = '0',
  radius = '5px',
  bgColor = '#007bff',
  textColor = '#fff',
  border = 'none',
  disabled = false,
  onClick,
} = Astro.props as Props;

const handleClick = (event: MouseEvent) => {
  console.log("onclicking", event); // Log the event
  if (onClick) {
    onClick(event); // Pass the event to the onClick handler
  }
};
---

<button
  style={{
    width,
    height,
    margin,
    borderRadius: radius,
    backgroundColor: bgColor,
    color: textColor,
    border,
  }}
  disabled={disabled}
  onclick()={handleClick} 
>
  {text}
</button>

<style>
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
</style>
